<script src="{{site.base_path}}/assets/jquery/dist/jquery.min.js"></script>
<script src="{{site.base_path}}/assets/js/toc.js"></script>
<script src="{{site.base_path}}/assets/js/smoothscroll.min.js"></script>
<!-- Moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
<script src="{{site.base_path}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{site.base_path}}/assets/bootstrap-asu/build/js/bootstrap-asu.min.js"></script>
<script src="{{site.base_path}}/assets/js/prettify.js"></script>
<script src="{{site.base_path}}/assets/js/run_prettify.js"></script>
<script type="text/javascript">
  /**
* navigation.js
*
* Handles toggling the navigation menu for small screens.
*/
( function() {
var container, button, menu;

container = document.getElementById( 'site-navigation' );
if ( ! container )
  return;

button = container.getElementsByTagName( 'button' )[0];
if ( 'undefined' === typeof button )
  return;

menu = container.getElementsByTagName( 'ul' )[0];

// Hide menu toggle button if menu is empty and return early.
if ( 'undefined' === typeof menu ) {
  button.style.display = 'none';
  return;
}

if ( -1 === menu.className.indexOf( 'nav-menu' ) )
  menu.className += ' nav-menu';

button.onclick = function() {
  if ( -1 !== container.className.indexOf( 'toggled' ) )
    container.className = container.className.replace( ' toggled', '' );
  else
    container.className += ' toggled';
};
} )();

</script>
