<script src="{{site.base_path}}/assets/jquery/dist/jquery.min.js"></script>
<script src="{{site.base_path}}/assets/js/toc.js"></script>

<script src="{{site.base_path}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{site.base_path}}/assets/bootstrap-asu/build/js/bootstrap-asu.min.js"></script>
<script src="{{site.base_path}}/assets/js/prettify.js"></script>
<script src="{{site.base_path}}/assets/js/run_prettify.js"></script>
<script src="{{site.base_path}}/assets/js/navigation.js"></script>
<script src="{{site.base_path}}/assets/js/skip-link-foxus-fix.js"></script>
<script src="{{site.base_path}}/assets/asu-header/js/asu-header.min.js"></script>
<script src="{{site.base_path}}/assets/asu-header/js/asu-header-config.js"></script>
