<nav class="navbar navbar-ws">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ws-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://asu.edu">{{ site.organization_name}}</a>
    </div>
    <div id="ws-navbar-collapse-1" class="collapse navbar-collapse">
      {% include navigation.html %}
    </div>
  </div><!-- /.navbar-collapse -->
</nav>