{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul id="menu-header-menu" class="nav navbar-nav">
  <li>
    <a href="./" title="Home">
      <span class="fa fa-home hidden-xs hidden-sm" aria-hidden="true"></span><span class="hidden-md hidden-lg">Home</span>
    </a>
  </li>
  <li class="menu-item dropdown">
    <a title="Categories" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Categories <span class="caret"></span>
    </a>
    <ul role="menu" class="dropdown-menu">
      {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
      <li class="menu-item">
        <a title="{{ this_word }}" href="{{ site.url }}category/{{ this_word | slugify }}.html">{{ this_word }}</a>
      </li>
     {% endunless %}{% endfor %}
    </ul>
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
      <li class="menu-item dropdown">
        <a title="{{ this_word }}" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{ this_word }} <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu">
        {% for post in site.tags[this_word] reversed %}{% if post.title != null %}
          <li class="menu-item"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endif %}{% endfor %}
        </ul>
      </li>
    {% endunless %}{% endfor %}
  </li>
</ul>